.env
/docker/traefik/certs/*
/docker/traefik/logs/traefik.log
docker/qbittorrent/config/*
docker/qbittorrent/downloads/*

docker/sonarr/config/*
docker/sonarr/downloads/*


docker/radarr/config/*
docker/radarr/downloads/*
