.env
/docker/traefik/traefik.yml
/docker/traefik/acme.json
/docker/traefik/logs/traefik.log
docker/qbittorrent/config/*

docker/sonarr/config/*

docker/radarr/config/*

docker/prowlarr/config/*

docker/jellyfin/config/*

docker/cups/config/data/*

recommendation.md
security.md
security-v2.md

*.save
*.O
