.env
/docker/traefik/traefik.yml
/docker/traefik/acme.json
/docker/traefik/logs/traefik.log
docker/qbittorrent/config/*

docker/sonarr/config/*

docker/radarr/config/*

docker/prowlarr/config/*

docker/jellyfin/config/*

docker/jellyseerr/config/*

docker/configarr/repos/*

docker/cups/config/data/*

docker/homepage/config/custom.css
docker/homepage/config/custom.js
docker/homepage/config/kubernetes.yaml
docker/homepage/config/proxmox.yaml
docker/homepage/config/logs/

recommendation.md
security.md
security-v2.md
security-status.md

*.save
*.O
