[Unit]
Description=Docker Compose Stack %i - running __REPO_DIR__/docker/%i
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

WorkingDirectory=__REPO_DIR__/docker/%i

ExecStart=/usr/bin/docker compose --env-file=__REPO_DIR__/.env up -d
ExecStop=/usr/bin/docker compose --env-file=__REPO_DIR__/.env down

TimeoutStartSec=0

[Install]
WantedBy=stacks.target
